h1{
    color: blue;
} 

p {
    color: red;
}
body{ 

    background-color: yellow;
    height: 30vh;
}
.container{
    height: 10vh;
    background-color: beige;
    text-align: center;
}


.orlist{
    list-style-type: square;
    font-family: 'Courier New', Courier, monospace;
}
 
